<ion-content mode="ios">

  <ion-card class="nav">
    
    <ion-card-title class="t1"><b>B</b>roker's Dairy</ion-card-title>

  </ion-card>

  <ion-card class="c1">
    <ion-card-title class="t2">Add Property Details</ion-card-title>
    

 <ion-row>

  <ion-col size-xs="12" size-md="6">
    <ion-item>
      <ion-label position="floating">Building No</ion-label>
      <ion-input type="number" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-col>


  <ion-col size-xs="12" size-md="6">
    <ion-item>
      <ion-label position="floating">Unit no</ion-label>
      <ion-input type="number" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-col>



  <ion-col size-xs="12" size-md="6">
    <ion-item>
      <ion-label position="floating">Cluster</ion-label>
      <ion-input type="text" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-col>



  <ion-col size-xs="12" size-md="6">
    <ion-item>
      <ion-label position="floating">Rent</ion-label>
      <ion-input type="text" placeholder="Enter text"></ion-input>  
    </ion-item>
  </ion-col>


  
  <ion-col size-xs="12" size-md="6">
    <ion-item>
      <ion-label position="floating">Security Deposit</ion-label>
      <ion-input type="text" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-col>


  <ion-col size-xs="12" size-md="6">
    <ion-item>
      <ion-label position="floating">Owner</ion-label>
      <ion-input type="text" placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-col>

 </ion-row>

  

  

  </ion-card>

</ion-content>
